@import "../../variables.scss";

.card-title {
  position: relative;
  box-sizing: border-box;
  margin: 8px 5px 0 5px;
  border-radius: 3px;
  color: $black-text;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  overflow-wrap: break-word;
  transition: box-shadow 0.15s;
  user-select: none;
  cursor: pointer !important;
  .card-color{
    position:absolute;
    display:block;
    width:100%;
    height:5px;
    background-color: transparent;
    border-radius: 6px;
  }
}

.card-title:focus {
  box-shadow: 0px 0px 1px 3px rgb(0, 180, 255);
}

.card-title--drag {
  box-shadow: 1px 9px 8px 1px rgba(0, 0, 0, 0.3) !important;
  opacity: 1 !important;
  .card-color{
    position:absolute;
    display:block;
    width:100%;
    height:5px;
    background-color: transparent;
    border-radius: 6px;
  }
}

.card-title-html {
  padding: 6px 8px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  img {
    max-width: 100%;
  }

  p {
    margin: 4px 0;
  }

  code,
  pre {
    white-space: pre-wrap;
  }
  pre {
    margin: 4px 0;
    padding: 4px 2px;
    background: rgba(100, 100, 100, 0.08);
  }
}
span.card-tag{
  background-color: #263d55bd;
  color: white;
  padding: 0px 2px 0px 2px;
  font-size: 85%;
  border: 0;
  border-radius: 3px;
}
