@import "../../variables.scss";

.assignResponsible{
  background-color: white;
  padding: 20px;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 16px 0px $main-color;
  -moz-box-shadow: 0px 0px 16px 0px $main-color;
  box-shadow: 0px 0px 16px 0px $main-color;
  .responsible-select{
    margin-top:15px;
    margin-bottom:15px;
    width:100%;
  }
}
