@import "../../variables.scss";

.options-list {
  display: block;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0 8px;
  position:absolute;
  right:50px;

  @media (max-width: 780px) {
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin: 0;
    position: relative;
    left: 0;
  }
}

.options-list-button {
  display: flex;
  align-items: center;
  height: 33px;
  margin: 0 3px 4px 3px;
  padding: 0 6px;
  border: 0;
  border-radius: 3px;
  color: black;
  background: rgba(255, 255, 255, 0.8);
  font-size: inherit;
  cursor: pointer;
  width:100%;
}

.options-list-button:hover,
.options-list-button:focus {
  background: white;
}

.modal-icon {
  flex-shrink: 0;
  margin-bottom: 3px;
}

.calendar-modal {
  position: absolute;
  left: 65%;
  top: 50%;
  right: 20%;
}

.calendar-underlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.calendar {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  background: white;
  -webkit-box-shadow: 0px 0px 16px 0px $main-color;
  -moz-box-shadow: 0px 0px 16px 0px $main-color;
  box-shadow: 0px 0px 16px 0px $main-color;
}

.calendar-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 8px;

  button {
    width: 120px;
    height: 30px;
    border: 0;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 700;
    transition: background 0.2s;
    cursor: pointer;
  }

  button:hover {
    background: #bbb;
  }

  .calendar-save-button {
    color: white;
    background: $success-button-color;
  }

  .calendar-save-button:hover {
    background: $success-button-color-hover;
  }
}


.move-modal {
  position: absolute;
  left: 65%;
  top: 50%;
  right: 20%;
}

.move-underlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.move {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  background: white;
  -webkit-box-shadow: 0px 0px 16px 0px $main-color;
  -moz-box-shadow: 0px 0px 16px 0px $main-color;
  box-shadow: 0px 0px 16px 0px $main-color;
}

.move-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 8px;

  button {
    width: 120px;
    height: 30px;
    border: 0;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 700;
    transition: background 0.2s;
    cursor: pointer;
  }

  button:hover {
    background: #bbb;
  }

  .move-save-button {
    color: white;
    background: $success-button-color;
  }

  .move-save-button:hover {
    background: $success-button-color-hover;
  }
}

.modal-color-picker-wrapper {
  position: relative;
}

.modal-color-picker {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  width: 120px;
  margin-top: 4px;
  padding: 5px;
  border-radius: 3px;
  color: black;
  background: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
  font-weight: 700;
  text-align: center;
  z-index: 10;
}

.color-picker-color {
  width: 100%;
  height: 25px;
  margin: 2px;
  border: 1px #999 solid;
  border-radius: 3px;
}
