@import "../../variables.scss";

.modal-underlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  z-index: 3;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 0.15s;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  position: absolute;
  display: flex;
  align-items: flex-start;
  height: 0;
  outline: 0;
  background-color: $main-color;
  padding: 50px 50px 50px 50px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 16px 0px $main-color;
  -moz-box-shadow: 0px 0px 16px 0px $main-color;
  box-shadow: 0px 0px 16px 0px $main-color;
}

.modal-textarea-wrapper {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 6px;
  border-radius: 3px;
  background: white;
  transition: background 0.2s;
  width:60%;

  .card-color {
    position: absolute;
    display: block;
    width: calc(60% - 60px);
    height: 5px;
    background-color: transparent;
    border-radius: 6px;
  }
}

.modal-textarea {
  flex-grow: 1;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 8px;
  border: 0;
  border-radius: inherit;
  color: inherit;
  background: inherit;
  font-family: inherit;
  font-size: 16px;
  line-height: inherit;
  resize: none;
  overflow: auto;
  outline: none;
}

.action-buttons {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 70px;
  clear: both;

  .save-button {
    right: 100px;
    position:absolute;
  }

  .cancel-button {
    position:absolute;
    left: 0px;
    color:white;
  }
}
@media (max-width: 1100px){
  .modal-textarea-wrapper{
    width: 50%;
    .card-color{
      width: calc(50% - 50px);
    }
  }
}
@media(max-width:780px){
  .modal-textarea{
    min-height:100px;
  }
  .modal-textarea-wrapper{
    width: 100%;
    .card-color{
      width: calc(100% - 100px);
    }
  }
  .modal{
    height: 100vh;
  }
  .action-buttons{
    position: relative;
    bottom: auto;
    top: 20px;
  }
}
