@import "../../variables.scss";

.move{
  padding:10px;
  .select{
    margin-bottom: 15px;
  }
}
.move-buttons{
  .save-button{
    margin-right:5px;
    background-color: $main-color;
  }
  .cancel-button{
    margin-left:5px;
  }
}
