@import "../../variables.scss";

.add-list-button {
  display: inline-flex;
  flex-shrink: 0;
  width: $list-width;
  margin: 0 5px 0 5px;
  padding: 10px;
  border: none;
  border-radius: $list-radius;
  color: $white-text;
  background: $main-color;
  font-size: 14px;
  transition: background 0.2s;
  user-select: none;
  cursor: pointer;
}

.add-list-button:hover,
.add-list-button:focus {
  background: rgba(0, 0, 0, 0.25);
}

.list-adder-textarea {
  float: left;
  box-sizing: border-box;
  width: 100%;
  padding: 6px 10px;
  border: 0;
  border-radius: 3px;
  color: $black-text;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  overflow: hidden;
  resize: none;
}
