// Base styles
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
  height: 100%;
  width: 100%;
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #ddd;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #aaa;
  }
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  line-height: 1;
  font-size: 14px;
}

#app {
  display: inline-flex;
  height: 100%;
  min-width: 100%;
}

button,
span,
a {
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

button:active, button:focus, div, span[role=button] {
  outline: none !important;
}
button::-moz-focus-inner {
  border: 0 !important;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
