$black-text: #1d1f24;
$white-text: #e5e7f0;
$main-color: #263d55;
$background-color: #f8f8f8;

$green: #032;
$blue: #06a;
$red: #831;
$pink: #b06;

$dark-green: #021;
$dark-blue: #059;
$dark-red: #720;
$dark-pink: #a05;

$transparent-green: rgba(70, 100, 90, 0.65);
$transparent-blue: rgba(50, 60, 80, 0.75);
$transparent-red: rgba(80, 50, 50, 0.65);
$transparent-pink: rgba(70, 20, 50, 0.75);

$success-button-color: #5aac44;
$success-button-color-hover: #3a8a24;

$transparent-black: rgba(0, 0, 0, 0.2);
$less-transparent-black: rgba(0, 0, 0, 0.5);
$transparent-white: rgba(255, 255, 255, 0.4);
$white: #fbfbfb;

$list-width: 300px;
$list-radius: 6px;
