@import "../../variables.scss";

.board-deleter-wrapper {
  position: relative;
  flex-shrink: 0;
  font-size: 14px;
}

.board-deleter-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 10px 8px 10px;
  border-radius: 3px;
  color: $black-text;
  transition: background 0.1s;
  cursor: pointer;
  .board-header-right-text{
    height: 20px;
  }
}

.board-deleter-button:hover,
.board-deleter-button:focus {
  background: $transparent-black;
}

.board-deleter-button {
  cursor: pointer;
}

.board-deleter-menu {
  position: absolute;
  top: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 140px;
  margin-top: 4px;
  padding: 5px;
  border-radius: 3px;
  color: $white-text;
  background: $main-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
  font-weight: 700;
  text-align: center;
}

.board-deleter-confirm {
  margin-top: 5px;
  padding: 8px 30px;
  border-radius: 6px;
  color: white;
  background: red;
  text-align: center;
  cursor: pointer;
}

.board-deleter-confirm:hover,
.board-deleter-confirm:focus {
  background: darkred;
}
