.card-badges {
  display: flex;
  padding: 0px 8px 6px 8px;
  font-size: 14px;
  margin-top: 20px;
  background-color: lightgrey;
  padding-top: 5px;
  -webkit-box-shadow: inset 0px 0px 19px 1px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    inset 0px 0px 19px 1px rgba(50, 50, 50, 0.25);
  box-shadow:         inset 0px 0px 19px 1px rgba(50, 50, 50, 0.25);
  border-radius: 0px 0px 5px 5px;
}

.badge {
  margin-right: 5px;
  padding: 3px 4px 4px 4px;
  border-radius: 3px;
  color: white;
  transition: background 0.15s;
}

.badge-icon {
  margin-bottom: 2px;
}
