@import "../../variables.scss";

.rightSidebar{
  display: none;
  position: absolute;
  width: 0px;
  background: #263d55;
  color: #e5e7f0;
  height: 100vh;
  z-index: 999;
  right: 0px;
  bottom:0;
  -webkit-transition: width .5s;  /* For Safari 3.1 to 6.0 */
  transition: width .5s;
  &.open{
    width: 300px;
    -webkit-transition: width .5s;  /* For Safari 3.1 to 6.0 */
    transition: width .5s;
  }

  .openSidebar{
    display:block;
    width: 50px;
    height:50px;
    position: absolute;
    top: 100px;
    left: -50px;
    background: $main-color;
    color: $white-text;
    text-align: center;
    line-height: 55px;
    font-size:28px;
    cursor:pointer;
  }
}
